{% extends 'layout.html.twig' %}
{% block title %}
    Éditer un contact
{% endblock %}
{% block content %}
    <form action="{{ base_url }}/contact/edit?id={{ id }}" method="post" name="action_edit" id="action_edit">
        {% if formErrors %}
            <ul>
                {% for error in formErrors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <label>Nom</label><input name="nom" type="text"
                                 value="{% if post.nom is defined %} {{ post.nom }} {% else %} {{ nom }}{% endif %}"/>
        <label>Prénom</label><input name="prenom" type="text"
                                    value="{% if post.prenom is defined %} {{ post.prenom }} {% else %} {{ prenom }}{% endif %}"/>
        <label>Email</label><input name="email" type="text"
                                   value="{% if post.email is defined %}{{ post.email }}{% else %}{{ email }}{% endif %}"/>
        <input type="submit" value="Soumettre"/>
    </form>
{% endblock %}