{% extends 'layout.html.twig' %}
{% block title %}
    Éditer une adresse
{% endblock %}
{% block content %}
    <form action="{{ base_url }}/adresse/edit?id={{ id }}" method="post" name="action_edit" id="action_edit">
        {% if formErrors %}
            <ul>
                {% for error in formErrors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <label>Libellé</label><input name="libelle" type="text"
                                 value="{% if post.libelle is defined %} {{ post.libelle }} {% else %} {{ libelle }}{% endif %}"/>
        <input type="submit" value="Soumettre"/>
    </form>
{% endblock %}